.experiences{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.experiences img{
    width: 600px;
    height: auto;
}

@media only screen and (max-width: 676px) {
    .experiences{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .experiences img{
        width: 330px;
    }
}